<div class="absolute inset-0 pointer-events-none mix-blend-overlay">
    <span class="absolute w-[6px] h-[6px] rounded-full
        bg-[radial-gradient(circle,rgba(239,246,255,1)_0%,rgba(239,246,255,0)_70%)]
        opacity-0 animate-[fly_9s_linear_infinite,blink_2s_ease-in-out_infinite]
        top-[12%] left-[18%] delay-[0s]"></span>

    <span class="absolute w-[6px] h-[6px] rounded-full
        bg-[radial-gradient(circle,rgba(239,246,255,1)_0%,rgba(239,246,255,0)_70%)]
        opacity-0 animate-[fly_9s_linear_infinite,blink_3s_ease-in-out_infinite]
        top-[68%] left-[8%] delay-[1s]"></span>

    <span class="absolute w-[6px] h-[6px] rounded-full
        bg-[radial-gradient(circle,rgba(239,246,255,1)_0%,rgba(239,246,255,0)_70%)]
        opacity-0 animate-[fly_9s_linear_infinite,blink_4s_ease-in-out_infinite]
        top-[40%] left-[82%] delay-[2s]"></span>

    <span class="absolute w-[6px] h-[6px] rounded-full
        bg-[radial-gradient(circle,rgba(239,246,255,1)_0%,rgba(239,246,255,0)_70%)]
        opacity-0 animate-[fly_9s_linear_infinite,blink_5s_ease-in-out_infinite]
        top-[18%] left-[55%] delay-[3s]"></span>

    <span class="absolute w-[6px] h-[6px] rounded-full
        bg-[radial-gradient(circle,rgba(239,246,255,1)_0%,rgba(239,246,255,0)_70%)]
        opacity-0 animate-[fly_9s_linear_infinite,blink_4s_ease-in-out_infinite]
        top-[82%] left-[63%] delay-[4s]"></span>

    <span class="absolute w-[6px] h-[6px] rounded-full
        bg-[radial-gradient(circle,rgba(239,246,255,1)_0%,rgba(239,246,255,0)_70%)]
        opacity-0 animate-[fly_9s_linear_infinite,blink_3s_ease-in-out_infinite]
        top-[54%] left-[22%] delay-[5s]"></span>

    <span class="absolute w-[6px] h-[6px] blur-[1px] rounded-full
        bg-[radial-gradient(circle,rgba(239,246,255,1)_0%,rgba(239,246,255,0)_70%)]
        opacity-0 animate-[fly_9s_linear_infinite,blink_2s_ease-in-out_infinite]
        top-[32%] left-[71%] delay-[6s]"></span>

    <span class="absolute w-[6px] h-[6px] rounded-full
        bg-[radial-gradient(circle,rgba(239,246,255,1)_0%,rgba(239,246,255,0)_70%)]
        opacity-0 animate-[fly_9s_linear_infinite,blink_2s_ease-in-out_infinite]
        top-[12%] left-[18%] delay-[0s]"></span>

    <span class="absolute w-[6px] h-[6px] rounded-full
        bg-[radial-gradient(circle,rgba(239,246,255,1)_0%,rgba(239,246,255,0)_70%)]
        opacity-0 animate-[fly_9s_linear_infinite,blink_3s_ease-in-out_infinite]
        top-[68%] left-[8%] delay-[1s]"></span>
</div>