<section class="flex items-center justify-center
                select-none
                fixed top-10 z-1 w-screen
                text-blue-100/80 tracking-wide">

    <!-- menu -->
    <div class="with-fade pre-fade
                flex items-center
                overflow-hidden h-14 rounded-2xl
                bg-blue-100/4 backdrop-blur-[32px]
                outline-2 outline-blue-100/20 outline-offset-2
                text-sm lowercase
                shadow-[0_0_32px_rgba(0,0,0,0.2)] hover:shadow-[0_0_86px_rgba(248,250,252,0.15)] active:shadow-[0_0_124px_rgba(248,250,252,0.2)]
                transition hover:-translate-y-[2px]">
        <a href="/" class="flex items-center justify-center
        hover:bg-blue-100/5 rounded-xl w-16">
            <img class="opacity-80 p-4 h-14" src="/assets/logo_wintertale_simplified.svg" draggable="false">
        </a>
        <a class="transition flex items-center p-4 h-full rounded-xl
        hover:bg-blue-100/5"
        href="/docs">руководства</a>
        <a class="transition flex items-center p-4 h-full rounded-xl
        hover:bg-blue-100/5"
        href="/rules">правила сообщества</a>
    </div>

    <separator class="h-[2px] w-[14px] bg-gradient-to-l from-blue-100/0 via-blue-100/15 to-blue-100/0 m-[4px]"></separator>

    <!-- discord button -->
    <div class="with-fade pre-fade
                flex items-center
                overflow-hidden h-14 rounded-2xl
                bg-blue-100/4 backdrop-blur-[32px]
                outline-2 outline-blue-100/20 outline-offset-2
                text-sm lowercase
                shadow-[0_0_32px_rgba(0,0,0,0.2)] hover:shadow-[0_0_86px_rgba(248,250,252,0.15)] active:shadow-[0_0_124px_rgba(248,250,252,0.2)]
                transition hover:-translate-y-[2px]">
        <a href="https://discord.gg/invite/Taavc3x6ee" target="_blank" class="flex items-center justify-center
        hover:bg-blue-100/5 rounded-xl w-14">
            <img class="opacity-80 p-4 h-14" src="/assets/logo_discord.svg" draggable="false">
        </a>
    </div>

</section>