<section class="with-fade pre-fade
                flex items-center justify-center
                gap-4 max-w-7xl px-4 py-8 mx-auto">

    <img src="/assets/logo_wintertale.svg" class="w-28 select-none hover:animate-pulse transition" draggable="false">

    <separator class="h-16 bg-gradient-to-b from-blue-100/0 via-blue-100/10 to-blue-100/0 w-[2px]"></separator>
    
    <div class="flex flex-col gap-1">
        <p class="select-none text-xs uppercase tracking-widest">Wintertale 2026</script></p>
        <p class="select-none text-xs uppercase tracking-widest opacity-40">
            in development by
            <a href="https://www.github.com/ywdeh" target="_blank" class="hover:border-b-[2px]">Hedwy</a>
            and his fellow friends  
        </p>
        <separator class="w-full bg-gradient-to-r from-blue-100/0 via-blue-100/10 to-blue-100/0 h-[2px] my-1"></separator>
        <p class="select-none text-xs uppercase tracking-widest opacity-40">background art by
            <a href="https://www.artstation.com/kouwei" target="_blank" class="hover:border-b-[2px]">kouwei</a>
        </p>
    </div>

</section>

<section class="hidden">
    <div class="with-fade pre-fade relative flex items-center justify-center gap-4 w-full max-w-7xl mx-auto px-4 py-8">
        
        <img src="/assets/logo_wintertale.svg" class="w-28 select-none hover:animate-pulse transition" draggable="false">
        <separator class="h-full bg-gradient-to-b from-blue-100/0 via-blue-100/10 to-blue-100/0 w-[2px]"></separator>
        <div class="flex flex-col gap-1">
            <p class="select-none text-xs uppercase tracking-widest">Wintertale 2026</script></p>
            <p class="select-none text-xs uppercase tracking-widest opacity-40">
                in development by
                <a href="https://www.github.com/ywdeh" target="_blank" class="hover:border-b-[2px]">Hedwy</a>
                and his fellow friends  
            </p>
            <separator class="w-full bg-gradient-to-r from-blue-100/0 via-blue-100/10 to-blue-100/0 h-[2px] my-1"></separator>
            <p class="select-none text-xs uppercase tracking-widest opacity-40">background art by
                <a href="https://www.artstation.com/kouwei" target="_blank" class="hover:border-b-[2px]">kouwei</a>
            </p>
        </div>

    </div>
    <div class="absolute bottom-0 bg-blue-100/10 h-[2px] w-full pointer-events-none"></div>
</section>