---
title: Wintertale - Документация
layout: template.html
---

{% include "fixed_top.html" %}

<section id="parallax" class="flex relative min-h-[calc(100dvh+2px)] bg-[url(/assets/extra_background.jpg)] bg-cover bg-fixed bg-center overflow-hidden shadow-[inset_0_0_200px_80px_rgba(0,0,0,0.6)]">

    <!-- overlays -->
    <div class="absolute inset-0 pointer-events-none">
        <div class="absolute inset-0 bg-gray-900/70 backdrop-blur-[24px]"></div>

        {% include "effect_fireflies.html" %}

        <div class="absolute inset-0 bg-[url(/assets/noise.png)] bg-repeat"></div>
    </div>

    <div class="pre-fade fade-in absolute text-center w-full top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <h2 class="text-3xl font-[Gabriela] font-medium text-center mb-4">Документация<br>в активной разработке</h2>
        <p class="opacity-60">однако информация об активных серверных<br>изменениях уже есть в игре, /addons</p>
    </div>

    <block class="flex flex-col md:flex-row gap-4 relative min-h-screen min-w-screen  pt-35 pb-10 px-10 pointer-events-none select-none">
        <div class="flex flex-col gap-[2px] flex-[0.5] border-2 border-blue-100/3 h-full w-full rounded-2xl p-[2px] bg-[url(/assets/button_pattern.png)]">
            <div class="w-full h-fit p-4 rounded-t-2xl text-blue-50/10 text-xs uppercase tracking-[.15rem]">Дополнения</div>
            <div class="w-full h-fit p-4 bg-blue-100/1 text-blue-50/10">...</div>
            <div class="w-full h-fit p-4 bg-blue-100/2 text-blue-50/10">...</div>
            <div class="w-full h-fit p-4 bg-blue-100/1 text-blue-50/10">...</div>
        </div>
        <div class="flex flex-col gap-[2px] flex-2 border-2 border-blue-100/3 h-full w-full rounded-2xl p-[2px] bg-[url(/assets/button_pattern.png)]">
            <div class="w-full h-fit p-4 rounded-t-2xl text-blue-50/10 text-xs uppercase tracking-[.15rem]">Immersive Seats</div>
            <div class="w-full h-50 bg-blue-100/1 text-blue-50/10"></div>
            <div class="w-full h-fit p-4 rounded-t-2xl text-blue-50/10 text-xs uppercase tracking-[.15rem]">... ... ... ...</div>
        </div>
    </block>

    <div class="absolute bottom-0 bg-blue-100/10 h-[2px] w-full pointer-events-none"></div>
</section>

{% include "fixed_bottom.html" %}